# Join Statements

## Introduction

In this lab, you'll practice your knowledge on Join statements.

## Objectives

You will be able to:
- Write queries that make use of various types of Joins
- Join tables using foreign keys

## CRM Schema

In almost all cases, rather then just working with a single table we will typically need data from multiple tables. 
Doing this requires the use of **joins ** using shared columns from the two tables. 

In this lab, we'll use the same Customer Relationship Management (CRM) database we used in our lecture before!
<img src='Database-Schema.png' width=550>

## Connecting to the Database
Import the necessary packages and connect to the database **data.sqlite**.

In [1]:
import sqlite3
import pandas as pd
conn = sqlite3.connect('data.sqlite', detect_types=sqlite3.PARSE_COLNAMES)

In [2]:
cur = conn.cursor()

## Display the names of all the employees in Boston.

In [5]:
cur.execute('''SELECT * FROM sqlite_master
                        WHERE type='table';
            ''').fetchall()

[('table',
  'orderdetails',
  'orderdetails',
  2,
  'CREATE TABLE `orderdetails` (`orderNumber`, `productCode`, `quantityOrdered`, `priceEach`, `orderLineNumber`)'),
 ('table',
  'payments',
  'payments',
  28,
  'CREATE TABLE `payments` (`customerNumber`, `checkNumber`, `paymentDate`, `amount`)'),
 ('table',
  'offices',
  'offices',
  32,
  'CREATE TABLE `offices` (`officeCode`, `city`, `phone`, `addressLine1`, `addressLine2`, `state`, `country`, `postalCode`, `territory`)'),
 ('table',
  'customers',
  'customers',
  33,
  'CREATE TABLE `customers` (`customerNumber`, `customerName`, `contactLastName`, `contactFirstName`, `phone`, `addressLine1`, `addressLine2`, `city`, `state`, `postalCode`, `country`, `salesRepEmployeeNumber`, `creditLimit`)'),
 ('table',
  'orders',
  'orders',
  38,
  'CREATE TABLE `orders` (`orderNumber`, `orderDate`, `requiredDate`, `shippedDate`, `status`, `comments`, `customerNumber`)'),
 ('table',
  'productlines',
  'productlines',
  46,
  'CREATE TABLE `productlines` (`productLine`, `textDescription`, `htmlDescription`, `image`)'),
 ('table',
  'products',
  'products',
  47,
  'CREATE TABLE `products` (`productCode`, `productName`, `productLine`, `productScale`, `productVendor`, `productDescription`, `quantityInStock`, `buyPrice`, `MSRP`)'),
 ('table',
  'employees',
  'employees',
  56,
  'CREATE TABLE `employees` (`employeeNumber`, `lastName`, `firstName`, `extension`, `email`, `officeCode`, `reportsTo`, `jobTitle`)')]

In [7]:
cur.execute('''SELECT * FROM offices
                        LIMIT 10;
            ''').fetchall()

[('1',
  'San Francisco',
  '+1 650 219 4782',
  '100 Market Street',
  'Suite 300',
  'CA',
  'USA',
  '94080',
  'NA'),
 ('2',
  'Boston',
  '+1 215 837 0825',
  '1550 Court Place',
  'Suite 102',
  'MA',
  'USA',
  '02107',
  'NA'),
 ('3',
  'NYC',
  '+1 212 555 3000',
  '523 East 53rd Street',
  'apt. 5A',
  'NY',
  'USA',
  '10022',
  'NA'),
 ('4',
  'Paris',
  '+33 14 723 4404',
  "43 Rue Jouffroy D'abbans",
  '',
  '',
  'France',
  '75017',
  'EMEA'),
 ('5',
  'Tokyo',
  '+81 33 224 5000',
  '4-1 Kioicho',
  '',
  'Chiyoda-Ku',
  'Japan',
  '102-8578',
  'Japan'),
 ('6',
  'Sydney',
  '+61 2 9264 2451',
  '5-11 Wentworth Avenue',
  'Floor #2',
  '',
  'Australia',
  'NSW 2010',
  'APAC'),
 ('7',
  'London',
  '+44 20 7877 2041',
  '25 Old Broad Street',
  'Level 7',
  '',
  'UK',
  'EC2N 1HN',
  'EMEA')]

In [9]:
cur.execute('''SELECT employees.lastName, employees.firstName FROM employees
                        JOIN offices
                        USING(officeCode)
                        WHERE offices.officeCode = '2'
                        LIMIT 10;
            ''').fetchall()

[('Firrelli', 'Julie'), ('Patterson', 'Steve')]

## Do any offices have no employees?

In [15]:
cur.execute('''SELECT offices.city FROM offices;
            ''').fetchall()

[('San Francisco',),
 ('Boston',),
 ('NYC',),
 ('Paris',),
 ('Tokyo',),
 ('Sydney',),
 ('London',)]

In [14]:
#Your code here
#compare offices.officeCodes to employees.officeCodes
cur.execute('''SELECT DISTINCT offices.city FROM offices
                JOIN employees
                USING(officeCode)
            ;''').fetchall()

[('San Francisco',),
 ('Boston',),
 ('NYC',),
 ('Paris',),
 ('Tokyo',),
 ('Sydney',),
 ('London',)]

In [ ]:
#All offices have at least 1 employee

## Write 3 Questions of your own and answer them

In [17]:
# Answers will vary
#Which employee took the most recent payment from a customer?
#Step 1: find the most recent payment
cur.execute('''SELECT payments.paymentDate
                FROM payments
                ORDER BY payments.paymentDate DESC
                LIMIT 1
            ;''').fetchall() #This is the most recent payment: [('2005-06-09',)]

[('2005-06-09',)]

In [26]:
#Step 2: Find the customer number associated with the most recent paymentcur.execute('''SELECT customers.customerNumber
cust = cur.execute('''SELECT customers.customerNumber
                        FROM customers
                        JOIN payments
                        USING(customerNumber)
                        ORDER BY payments.paymentDate DESC
                        LIMIT 1
                    ;''').fetchall() # This is the cust # of the most recent payment: [('353'')]
cust[0][0]

'353'

In [29]:
#Step 3: find the employee who was the sales rep for that customer
cur.execute('''SELECT employees.lastName, employees.firstName
                FROM employees
                JOIN customers
                ON employees.employeeNumber = customers.salesRepEmployeeNumber
                WHERE customers.customerNumber = '353'  
                LIMIT 1
            ;''').fetchall()

[('Bondur', 'Loui')]

In [ ]:
#I don't know yet how to insert the string value of a variable into a sql query
#but this is satisfactory for now.

In [ ]:
# Your code here

In [ ]:
# Your code here

## Level Up: Display the names of each product each employee has sold.

In [ ]:
# Your code here

## Level Up: Display the Number of Products each Employee Has sold

In [ ]:
#Your code here

## Summary

Congrats! You now know how to use Join statements, along with leveraging your foreign keys knowledge!